<%- include('include/header') %>

<main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <div class="filter text-center">
          <h2 class="text-dark">New User</h2>
          <a href="/">All Users</a>
        </div>
      </div>
      <%- include('include/form') %>
    </div>
  </main>

  <%- include('include/footer') %>
