<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home Page</a>
                </li>
                <li>
                    <a href="/images/add">Add Image</a>
                </li>
                <li>
                    <a href="/images/all">All images</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add image</h1>
        <form method="POST">
            <label for="name">
                <input type="text" name="name" id="name">
            </label>
            <label for="image">
                <input type="text" name="image" id="image">
            </label>
            <input type="submit" value="Add">
        </form>
    </main>
    <footer>
        <p>By George Angelov</p>
    </footer>
</body>
</html>