<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
          <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/images/add">Add Image</a></li>
            <li><a href="/images/all">All Images</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1 class="head-title">All Images</h1>
        <div class="images">
          {content}
        </div>
      </main>
      <footer>
        <p>By George Angelov</p>
      </footer>
</body>
</html>