doctype html 
html 
 title
 body 
 h1 Home Application
 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus minima aspernatur unde eaque laborum, quisquam rerum at reprehenderit sint quam dolorum atque reiciendis quo. Qui porro quibusdam consequatur eligendi? 
<a class="button" href="/about">About</a>
<a class="button" href="/contacts">Contacts</a>